body
{
    overflow: hidden;
}

.center {width: 900px; margin: 0 auto; margin-top: 150px;}

#panel
{
	width: 400px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -1px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}

form 
{
    margin: 0;
}

.input:hover, .input:focus 
{
	outline: 4px solid #cfe4ed;
}

input[type="text"]:disabled 
{
    background: #fff;
}

label 
{
	display: block;
	width: 260px;
	padding: 10px 20px;
	color: #696969;
	font-size: 16px;
	text-shadow: 0 0 1px silver;
}

#login, #password
{
	font-size: 22px;
	display: block;
	width: 360px;
	margin: 0 auto;
	padding: 10px 5px;
	border: 1px solid silver;
	outline: 5px solid #ebebeb;
}

#login:focus, #password:focus
{
	outline: 5px solid #e5f2f8;
}

#lower 
{
	background: #ecf2f5;
	width: 360px;
	padding: 15px 20px;
	margin-top: 20px;
}

.check 
{
	display: inline;
	float: none;
	font-size: 11px;
	padding: 5px;
}

#loginbutton
{
	width: 100px;
	padding: 5px 13px;
	border: 1px solid #005f85;
	color: white;
	text-shadow: 0 0 1px black;
	background: #00BA8C;
}

#loginbutton:hover
{
	background: #00d9a3;
	transition: all 0.2s ease;
}

#panel, #loginbutton
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.description
{
    font-size: 40px;
    font-weight: 700;
    color: black;
    opacity: 0.7;
    text-align: center;
    transition: all 0.3s ease;
	line-height: 23px;
    font-family: "Titillium Web", sans-serif;
    padding: 25px;
}


.special
{
    color: #00d9a3;
}

.adddescription
{
    font-size: 10px;
}

.info
{
    font-size: 15px;
}

.login
{
		margin: 0 auto;
		width: 100px;
}

#logo
{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
}
