body
{
    padding: 0;
    margin: 0;
    background: transparent;
}

table
{
    border-top: none;
}

th
{
    border-top: none;
    opacity: 0.95;
    border-top: none;
    border-bottom: 1px solid black;
    background: #000;
}

.Table
{
    border: none !important;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

    .Table > tbody > tr > th,
    .Table > tbody > tr > td
    {
        padding: 9px;
        line-height: 1.42857143;
        vertical-align: top;
    }

td
{
    border-top: none;
    border-bottom: 1px solid #36393E;
}

tr
{
    border-top: none;
    background: #36393E;
    opacity: 0.85;
    color: #DEEAFF;
}

    tr:hover
    {
        background: #000;
    }

.main
{
    margin-top: 150px;
    padding: 0px;
}
